body {
  font-family: 'Gloria Hallelujah', cursive;
  font-weight: 600;
}
.container {
  width: 100%;
  max-width: 100%;
  display: flex;
  align-items: auto;
  align-content: space-around;
  justify-content: space-around;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.35fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    'nav nav nav nav nav'
    '. header header header . '
    'houston austin new detroit raleigh';
}
h1 {
  text-align: center;
}

header {
  border: 3px solid #15ab5c;
  background-color: #15ab5c;
  grid-area: header;
  border-radius: 20px;
  width: 100%;
  margin-bottom: 25px;
  margin-top: -75px;
}

.App {
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  grid-area: nav;
  float: none;
  text-align: center;
  position: fixed;
  width: 100%;
  background-color: ghostwhite;
}

.greeting-list {
  display: flex;
  align-items: center;
  list-style: none;
}

.greeting-list-item {
  display: flex;
  align-items: center;
}

.links {
  display: flex;
  list-style-type: none;
  gap: 2rem;
}

.footer {
  background-color: #8becad;
  opacity: 50%;
  bottom: 0;
  width: 100%;
}

#austin {
  border: 10px solid black;
  background-color: black;
  color: ghostwhite;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Gloria Hallelujah', cursive;
  font-weight: 600;
}

#detroit {
  border: 10px solid black;
  background-color: black;
  color: ghostwhite;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Gloria Hallelujah', cursive;
  font-weight: 600;
}
#houston {
  border: 10px solid black;
  background-color: black;
  color: ghostwhite;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Gloria Hallelujah', cursive;
  font-weight: 600;
}
#raleigh {
  border: 10px solid black;
  background-color: black;
  color: ghostwhite;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Gloria Hallelujah', cursive;
  font-weight: 600;
}
#home {
  border: 10px solid black;
  background-color: black;
  color: ghostwhite;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Gloria Hallelujah', cursive;
  font-weight: 600;
}
#login {
  border: 10px solid black;
  background-color: black;
  color: ghostwhite;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Gloria Hallelujah', cursive;
  font-weight: 600;
}
#logout {
  border: 10px solid black;
  background-color: black;
  color: ghostwhite;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Gloria Hallelujah', cursive;
  font-weight: 600;
}
.restaurant-info-fieldset {
  color: ghostwhite;
  width: 100vh;
}
.user-name-fieldset {
  color: ghostwhite;
}
.form {
  background-image: linear-gradient(#15ab5c, #8becad);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-submit {
  border: 10px solid black;
  background-color: black;
  color: ghostwhite;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Gloria Hallelujah', cursive;
  font-weight: 600;
}
#new {
  grid-area: new;
}

.new {
  grid-area: new;
  border: 10px solid black;
  background-color: black;
  color: ghostwhite;
  border-radius: 5px;
  cursor: pointer;
  margin: 70px;
  font-family: 'Gloria Hallelujah', cursive;
  font-weight: 600;
}
#login:hover {
  transition: 0.3s;
  background-color: #15ab5c;
  border: 10px solid #15ab5c;
}
#logout:hover {
  transition: 0.3s;
  background-color: red;
  border: 10px solid red;
}
.pic {
  height: 50vh;
  width: 100vw;
  position: relative;
  object-fit: cover;
  z-index: -1;
}

.houston {
  grid-area: houston;
  background-color: #8becad;
  width: 245px;
  height: 300px;
  border-radius: 20px;
  padding-top: 30px;
}
.houston:link {
  color: black;
  text-decoration: none;
}
.houston:visited {
  color: black;
  text-decoration: none;
}

.detroit {
  grid-area: detroit;
  background-color: #8becad;
  width: 245px;
  height: 300px;
  border-radius: 20px;
  /* margin-right: 100px; */
  padding-top: 30px;
}
.detroit:link {
  color: black;
  text-decoration: none;
}
.detroit:visited {
  color: black;
  text-decoration: none;
}
.austin {
  grid-area: austin;
  background-color: #8becad;
  width: 245px;
  height: 300px;
  border-radius: 20px;
  padding-top: 30px;
}
.austin:link {
  color: black;
  text-decoration: none;
}
.austin:visited {
  color: black;
  text-decoration: none;
}
.raleigh {
  grid-area: raleigh;
  background-color: #8becad;
  width: 245px;
  height: 300px;
  border-radius: 20px;
  padding-top: 30px;
  /* margin-right: 10px; */
}
.raleigh:link {
  color: black;
  text-decoration: none;
}
.raleigh:visited {
  color: black;
  text-decoration: none;
}
.show-h1,
.city-h1,
.new-h1 {
  margin-top: 75px;
}
