.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav {
  background-color: rgb(155, 244, 155);
  display: flex;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
}
.links {
  display: flex;
  list-style-type: none;
  gap: 2rem;
}
  a {
    color: orangered;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    
    }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}