.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    'nav nav nav nav nav nav nav'
    '. . header header header . .'
    '. . header header header . .'
    '. . . austin . . .'
    '. . houston .detroit . .'
    '. . . raleigh . . .';
}

.header {
  grid-area: header;
}

.App {
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  grid-area: nav;
  float: none;
  text-align: center;
  position: fixed;
  width: 100%;
  background-color: #8becad;
}

.links {
  display: flex;
  list-style-type: none;
  gap: 2rem;
}

a {
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  list-style-type: none;
}

.footer {
  background-color: #8becad;
  opacity: 50%;
  bottom: 0;
  width: 150%;
}

#austin {
  border: 3px solid black;
  background-color: black;
  color: ghostwhite;
  border-radius: 5px;
  /* margin-right: 200px; */
}

#detroit {
  border: 3px solid black;
  background-color: black;
  color: ghostwhite;
  border-radius: 5px;
  /* margin-right: 200px; */
}
#houston {
  border: 3px solid black;
  background-color: black;
  color: ghostwhite;
  border-radius: 5px;
  /* margin-right: 200px; */
}
#raleigh {
  border: 3px solid black;
  background-color: black;
  color: ghostwhite;
  border-radius: 5px;
  /* display: flex; */
  /* margin-right: end; */
}
#home {
  border: 3px solid black;
  background-color: black;
  color: ghostwhite;
  border-radius: 5px;
  /* margin-right: 180px; */
  /* link */
}
.pic {
  height: 50vh;
  width: 100vw;
  position: relative;
  object-fit: cover;
}

.week {
  border: 2px solid gray;
}

.houston {
  grid-area: houston;
  background-color: #8becad;
  width: 145px;
  height: 200px;
}

.detroit {
  grid-area: detroit;
  background-color: #8becad;
  width: 145px;
  height: 200px;
}

.austin {
  grid-area: austin;
  background-color: #8becad;
  width: 145px;
  height: 200px;
}

.raleigh {
  grid-area: raleigh;
  background-color: #8becad;
  width: 145px;
  height: 200px;
}
