/* .restaurant-cardH {
    width: 40%;
    background-color: #ADF3C5;
    height: 450px;
 }
 .card-containerH {
    display: flex;
    align-items: center;
    align-content: space-around;
    justify-content: space-around;
 }
 .pic {
     height: 50vh;
     width: 100vw;
     position: relative;
     object-fit: cover;
 }
  */
